html, body{
	font-family: Arial, sans-serif;
	margin: 0; /*setting border around site*/
}

header{
	background-color: #f7e34f; /*you can do a background image and you can reference up one folder to 'img' by typing '..' For example: "../img/image.jpg"; */
	padding: 0px; /*gives space around header you don't need all but it specifcies direction*/
	text-align: center;
}

header h1{ /* 'header' refers to header text in the header */
	font-size: 80px;
	color: #5b1e1e;
	padding-bottom: 0px;
}

header img{
	border-radius: 200px;
	width: 250px;
	border: 10px solid #CC0000;
}

.content{
	max-width: 900px; /* So it doesn't go too wide*/
	margin: 0 auto; /* 0 for top/bottom, auto for left/right*/
	padding: 0 20px;
}

img.big-image{
	max-width: 100%

}

.big-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  position: relative;
  backface-visibility: hidden;
}
.content:hover .big-image{
	opacity: 0.3;
}

p.caption{
	font-size: 12px;
	color: grey;
	font-style: italic;
	padding-top: 0;
}

.content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: red;
	text-decoration: none;
}

a:hover{ /*changes when I hover over links*/
	color: blue;
}

footer{
	padding: 1px 0px;
	background-color: #f7e34f;
	margin-top: 20px;
}

footer ul{
	text-align: center;
}
footer ul li{ /*I made all lines in unordered lists in the footer display as blocks with spaces between the lines*/
	display: inline-block;
	margin: 0 10px;
}




